@import "variables";

:host {
  display: block;
  padding: 14px 0 14px;
  border-top: 1px solid rgba(255, 255, 255, .2);
  background-color: rgba(255, 255, 255, .05);
}

:host-context(ease-nav-group-item.has-active-links) {
  strong {
    color: $text-color-inverted-focus;
  }
}

button {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2px 0 20px;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: $text-color-inverted;
  font-size: 13px;
}
