@import "theme";

@import "../app/layout/components/nav-bar/navbar.component.theme";
@import "../app/layout/components/side-nav/side-nav.component.theme";
@import "../app/layout/components/nav-item/nav-item.theme";

@include ease-navbar-theme($theme);
@include ease-side-nav-theme($theme);
@include ease-nav-item-theme($theme);

// Normailze
@import "~normalize.css/normalize.css";

// Material Icons
@import "./material-icons/material-icons.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}

:focus {
  outline: none;
}
